/*========== MAIN ==========*/

/*========== HOME ==========*/
.home {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.home-container {
    position: relative;
    width: 90%;
    padding-top: 100px;
    margin-left: 30px;
    row-gap: 3cm;
    align-items: center;
}

.home-container1 {
    margin-top: 5rem;
    position: relative;
    width: 100%;
    row-gap: 3cm;
    align-items: center;
}

.home-data {
    text-align: center;
}

.home-subtitle {
    font-size: 40px;
    margin-bottom: .25cm;
}

.home-elec {
    font-size: small;
    font-weight: 400px;
    color: white;
    display: inline-flex;
    align-items: center;
    column-gap: .25cm;
}

.home-elec i {
    color: green;
}

.home-img {
    zoom: 1.3;
    justify-self: center;
}

.home-car {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5cm;
}

.home-car-name {
    font-size: .5cm;
    font-weight: 400;
    color:white;
}

.home-car-data {
    text-align: center;
}

.home-car-number {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.home-car-icon {
    background-color: var(--container-color);
    border-radius: 50%;
    padding: .376rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    margin-bottom: .75rem;
}


.home .shape-big,
.home .shape-small {
    position: absolute;
}

.home .shape-big {
    left: -9rem;
    top: -4rem;
}

.home .shape-small {
    right: -10rem;
    bottom: 3rem;
}

/* Button animate */
@keyframes button {
    0% {
        box-shadow: 0 0 12px hsl(158, 89%, 43%);
    }

    50% {
        box-shadow: 0 0 24px hsl(158, 89%, 43%);
    }
}
/*========== ABOUT ==========*/

.about section {

    max-width: 100%;
}

.about-data {
    position: relative;
}

.about-group {
    position: relative;
}
.about-container {
    row-gap: 1rem;
    position: relative;
    width: 90%;
    align-items: center;
}

.about-img {
    width: 600px;
    height: 300px;
    align-self:center;
    border-radius: .5cm;

}

.about-card-title {

    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.about-card-description {
    font-size: var(--smaller-font-size);
}

.about-title {
    text-align: initial;
    margin-bottom: 0.5rem;
    color:greenyellow;
}

.about-description {
    margin-bottom: 0;

}

/*========== GALLERY ==========*/
.gallery-container {
    padding-top: 0.5cm,;
    height: max-content;
}
.gallery-title,
.gallery-subtitle,
.gallery-img {
    position: relative;
}

.gallery-title {
    font-size: medium;
    margin-bottom: .1cm;
}
.gallery-img {
    width: 450px;
    height: 250px;
    transition: .3s;
}
.gallery-img:hover {
    transform: translateY(-0.25rem);
}
/*========== BUTTON ==========*/
.button {
    display: inline-block;
    background-color:antiquewhite;
    color: var(--white-color);
    padding: 0.2cm 1cm;
    margin: 5% 45%;
    border-radius: 20px;
    font-size:medium;
    transition: .3s;
}

.button:hover {
    background-color:greenyellow;
}

/* Swiper */

.swiper-wrapper {
    justify-content: initial;
}

.swiper-pagination-bullet {
    background-color: var(--text-color);
}



.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

/*========== FEATURES ==========*/
.features {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.features-container {
    padding-top: 2rem;
    grid-template-columns: 285px;
    justify-content: center;
}

.features-group {
    display: grid;
    position: relative;
    z-index: 10;
}

.features-img {
    width: 150px;
    justify-self: center;
}

.features-card {
    width: 112px;
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    border-radius: 1.25rem;
    padding: .75rem 2rem;
    text-align: center;
    color: var(--title-color);
    position: absolute;
}

.features-card-1 {
    top: 4rem;
    left: 1.5rem;
}

.features-card-2 {
    top: 8rem;
    right: 1rem;
}

.features-card-3 {
    left: 1.5rem;
    bottom: 2rem;
}

.features-card-title {
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.features-card-description {
    font-size: var(--smaller-font-size);
}

.features-map {
    max-width: initial;
    width: 450px;
    position: absolute;
    top: 8rem;
    left: -3rem;
    right: 1;
    margin: auto;

}

/*========== FEATURED ==========*/
.featured-container {
    padding-top: 1rem;
}

.featured-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 3.5rem;
}

.featured-item {
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
    padding: .75rem;
    border-radius: .75rem;
    background-color: var(--container-color);
    color: var(--white-color);
    font-size: var(--normal-font-size);
    cursor: pointer;
    transition: .3s;
}

.featured-item img {
    width: 1.5rem;
}

.featured-item span,
.featured-item img {
    opacity: .3;
    transition: .3s;
}

.featured-item:hover {
    background-color: var(--first-color);
}

.featured-item:hover span,
.featured-item:hover img {
    opacity: 1;
}

.featured-content {
    grid-template-columns: 228px;
    row-gap: 2.5rem;
    justify-content: center;
}

.featured-card {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.featured-card .shape-smaller {
    position: absolute;
    inset: 0;
    margin: auto;
}

.featured-title,
.featured-subtitle,
.featured-img {
    position: relative;
}

.featured-title {
    font-size: var(--h2-font-size);
    margin-bottom: .25rem;
}

.featured-subtitle {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 400;
}

.featured-img {
    width: 180px;
    margin: 1.5rem 0;
    transition: .3s;
}

.featured-price {
    font-size:11px;
}

.featured-button {
    border: none;
    outline: none;
    padding: .75rem 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 1rem 0 1rem 0;
    cursor: pointer;
}

.featured-button i {
    font-size: 1.25rem;
}

.featured-card:hover .featured-img {

    transform: translateX(-.25rem);
}

/* Active Featured */

.active-featured {
    background-color: var(--first-color);
}

.active-featured span,
.active-featured img {
    opacity: 1;
}


/*========== OFFEER ==========*/

.offer {
    position: relative;
    overflow: hidden;
}

.offer-container {
    grid-template-rows: max-content 224px;
}

.offer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.offer-data,
.offer-img {
    position: relative;

}

.offer-data {
    text-align: center;
}

.offer-title {
    margin-bottom: 2rem;
}

.offer-description {
    margin-bottom: 3rem;
}

.offer-img {
    justify-content: center;
    position: absolute;
    max-width: initial;
    width: 400px;
    bottom: 2rem;
    right: -5.5rem;
}

/*========== LOGOS ==========*/

.logos-container {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 2rem;
}

.logos-img {
    width: 40px;
    opacity: .4;
    transition: .3s;
}

.logos-img:hover {
    opacity: 1;
}